apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: kubernetes
  name: kubernetes
spec:
  selector:
    matchLabels:
      app: kubernetes
    replicas: 1
    template:
      metadata:
        labels:
          app: kubernetes
      spec:
        containers:
          - name: kubernetes
            image: registry.gitlab.com/florian935/spring-customci-k8s:latest
            ports:
              - name: kubernetes
                containerPort: 8080
                protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: kubernetes-service
  labels:
    app: kubernetes
spec:
  type: LoadBalancer
  ports:
    - port: 8080
    selector:
      app: kubernetes
