# Deploy Springboot app
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: springboot-__CI_PROJECT_NAME__
    ref: __CI_ENVIRONMENT_SLUG__
  name: springboot
spec:
  clusterIP: None
  ports:
  - name: spring
    port: 8080
    targetPort: 8080
  selector:
    app: springboot-__CI_PROJECT_NAME__
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot
  labels:
    app: springboot-__CI_PROJECT_NAME__
    ref: __CI_ENVIRONMENT_SLUG__
spec:
  replicas: 1
  selector:
    matchLabels:
      app: springboot-__CI_PROJECT_NAME__
  template:
    metadata:
      labels:
        app: springboot-__CI_PROJECT_NAME__
        ref: __CI_ENVIRONMENT_SLUG__
      annotations:
        app.gitlab.com/app: __CI_PROJECT_PATH_SLUG__
        app.gitlab.com/env: __CI_ENVIRONMENT_SLUG__
    spec:
      containers:
      - name: springboot
        image: __CI_REGISTRY_IMAGE__:latest
        ports:
        - containerPort: 8080
          name: springboot